<div class="max-w-[95rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <iframe class="map w-full" title="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3460.048533823972!2d30.951307575960552!3d-29.862874122881127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ef7aa70a5aed079%3A0xd0fac6572fef60a8!2sLighty%20Kunene%20Crescent%2C%20Umkumbaan%2C%20Durban%2C%204138!5e0!3m2!1sen!2sza!4v1683706635119!5m2!1sen!2sza"
        width="" height="450" style="border:0;" allowfullscreen="true" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>
<style>
    .map
    {
        border-radius: 15px;
    }
</style>