---
import TeamCard from './ui/TeamCard.astro'
---
  <!-- Team -->
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto" id="team">
	<!-- Title -->
	<div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
	  <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Our Team</h2>
	  <p class="mt-1 text-gray-600 dark:text-gray-400">Creative people</p>
	</div>
	<!-- End Title -->
  
	<!-- Grid -->
	<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

		<TeamCard name="Sithuliso Zulu" img="/img/mondli.jpg" position="Founder / CEO / Developer" about="I am an ambitious workaholic, but apart from that, pretty simple person"/>

	  <a class="col-span-full lg:col-span-1 group flex flex-col justify-center text-center rounded-xl p-4 md:p-6 border border-dashed border-gray-200 hover:shadow-sm dark:border-gray-700" href="#">
		<h3 class="text-lg text-gray-800 dark:text-gray-200">
		  We are hiring!
		</h3>
		<div>
		  <span class="inline-flex items-center gap-x-2 text-blue-600 group-hover:text-blue-700 dark:text-blue-500 dark:group-hover:text-blue-400">
			See all opening positions
			<svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
		  </span>
		</div>
	  </a>
	  <!-- End Col -->
	</div>
	<!-- End Grid -->
  </div>
  <!-- End Team -->